@media (min-width: 576px) {
    #header {
        max-width: 476px;
    }
}

@media (min-width: 768px) {
    #header {
        max-width: 668px;
    }
}

@media (min-width: 992px) {
    #header {
        max-width: 892px;
    }
}

@media (min-width: 1200px) {
    #header {
        max-width: 1600px;

    }
}

@media (max-width: 575px) {
    #header {
        max-width: 450px;
    }
}